registry=https://npm.ci.artifacts.walmart.com/artifactory/api/npm/npme-npm
proxy=http://sysproxy.wal-mart.com:8080
https-proxy=http://sysproxy.wal-mart.com:8080
strict-ssl=false
no_proxy=walmart.api.crowdin.com,.wal-mart.com,.walmart.net,.walmart.com,localhost,127.0.0.1
fetch-timeout=180000
